<div id="<%= dom_id bill %>" class="card my-4">
  <div class="card-body">
    <h5 class="card-title"><%= bill.name %></h5>
    <p class="card-text"><strong>Amount:</strong> <%= bill.amount %></p>
  </div>
</div>
